.about{
    background-color: #0f131e;
    height: 100vh;
    /* display:grid;
    grid-template-columns: auto auto; */
    /* display: flex;
    flex-direction:column;
    justify-content: space-between; */
    /* row-gap: 100px; */
    /* align-items: center; */
    position: relative;
}
.education{ 
    position: absolute;
    right:4%;
    top:15%;
    /* padding-left: 800px;
    padding-top: 200px;  */
} 
.description{
  color: lightgray;
  position: absolute;
  margin-left: 100px; 
  margin-top: 200px; 
  width:40vw;
}
.slide{
    height: 500px;
    width: 600px;
    bottom:17%;
}
.carousel-inner{
    height:100%;
    width: 100%;
    position: relative;
} 
.carousel-item{
    height:100%;
    width: 100%;
    position: relative;
}
.carousel-inner img{
    position: absolute;
    width:350px;
    left:50%;
    top:25%;
    transform: translate(-50%,-30%);
    margin: auto;
    display: block;
    /* background-color: aliceblue; */
    /* border-radius: 80%; */
}
.edu_info{
    color: white;
    position: absolute;
    width: max-content;
    left:50%;
    top:90%;
    text-align: center;
    transform: translate(-50%,-90%);
}