.about{
    background-color: #0f131e;
    height: 100vh;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    /* row-gap: 100px; */
    /* align-items: center; */
    position: relative;
}
.education{ 
    /* position: absolute; */
    /* right:4%;
    top:15%; */
    /* padding-left: 800px;
    padding-top: 200px;  */
    /* overflow-y: scroll; */
} 
.description{
  color: lightgray;
  /* position: absolute; */
  /* margin-left: 100px; 
  margin-top: 200px;  */
  /* left: 7%;
  top:27%; */
  width:41%;
}
.slide{
    height: 500px;
    width: 600px;
    bottom:17%;
}
.carousel-inner{
    height:100%;
    width: 100%;
    position: relative;
} 
.carousel-item{
    height:100%;
    width: 100%;
    position: relative;
}
.carousel-inner img{
    position: absolute;
    width:350px;
    left:50%;
    top:25%;
    transform: translate(-50%,-30%);
    margin: auto;
    display: block;
    /* background-color: aliceblue; */
    /* border-radius: 80%; */
}
.edu_info{
    color: white;
    position: absolute;
    width: max-content;
    left:50%;
    top:90%;
    text-align: center;
    transform: translate(-50%,-90%);
}

@media (max-width: 1364px){
    .about{
        display: flex;
        flex-direction: column;
        height:max-content;
        padding-top:70px;
        row-gap: 40px;
    }
    .description{
        width:70%;
    }
    .education{
        width:100vw;   
    }
    .carousel-inner{
        width:100%;
    }
    .slide{
        width: 100%;
    }
    .carousel-inner img{
        /* width: 50%;
        left: 46%;
        top: 38%; */
        width: 63%;
        left: 50%;
        top: 43%;
    }
}
@media (max-width:300px){
    .carousel-inner img{
        width:70%;
    }
}