@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';

.education{
    background-image: linear-gradient(to left bottom, #464b4b, #404445, #3a3e40, #34373a, #2f3134, #2f3134, #2f3134, #2f3134, #34373a, #3a3e40, #404445, #464b4b);
    padding-bottom: 300px;
}
.container{
    display:flex;
    justify-content: space-around;
    padding-top: 200px;
}

.card {
  width: 300px;
  height: 300px;
  float: left;
  perspective: 500px;
}

.content {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
    line-height: 300px;
    text-align: center;
    font-size: 60px;
    border-radius: 5px;
    backface-visibility: hidden;
}
.front{
    font-family: 'Didact Gothic', sans-serif;
    background-color: #abc5bd;
}
.back {
  background: lightcyan;
  color: white;
  transform: rotateY( 180deg );
}
/*
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    border-radius: 50px;
    perspective: 1000px; 
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: none;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }*/